In [1]:
import pandas as pd
import numpy as np

In [2]:
NBA_dict = {'player' : ['Stephen Curry', 'Bradley Beal', 'Damian Lillard', 'Joel Embiid', 'Giannis Antetokounmpo'],
              'team' : ['GSW', 'WAS', 'POR', 'PHI', 'MIL'],
              'points/game' : [32, 31.3, 28.8, 28.5, 28.1]}

In [3]:
NBA_dict

{'player': ['Stephen Curry',
  'Bradley Beal',
  'Damian Lillard',
  'Joel Embiid',
  'Giannis Antetokounmpo'],
 'team': ['GSW', 'WAS', 'POR', 'PHI', 'MIL'],
 'points/game': [32, 31.3, 28.8, 28.5, 28.1]}

In [4]:
NBA = pd.DataFrame(NBA_dict)

In [5]:
NBA

                  player team  points/game
0          Stephen Curry  GSW         32.0
1           Bradley Beal  WAS         31.3
2         Damian Lillard  POR         28.8
3            Joel Embiid  PHI         28.5
4  Giannis Antetokounmpo  MIL         28.1

In [6]:
NBA.columns

Index(['player', 'team', 'points/game'], dtype='object')

In [7]:
type(NBA.columns)

pandas.core.indexes.base.Index

In [8]:
NBA.iloc[3]

player         Joel Embiid
team                   PHI
points/game           28.5
Name: 3, dtype: object

In [9]:
top3 = NBA.iloc[0:3]

In [10]:
top3

           player team  points/game
0   Stephen Curry  GSW         32.0
1    Bradley Beal  WAS         31.3
2  Damian Lillard  POR         28.8

In [11]:
NBA.iloc[[0,2,4]]

                  player team  points/game
0          Stephen Curry  GSW         32.0
2         Damian Lillard  POR         28.8
4  Giannis Antetokounmpo  MIL         28.1

In [12]:
NBA.iloc[[1,3,4],1:3]  #The same as NBA.iloc[[1,3,4],[1,2]]

  team  points/game
1  WAS         31.3
3  PHI         28.5
4  MIL         28.1

In [13]:
NBA.iloc[[0,3,4],[0,2]]  #iloc only works with int, not str

                  player  points/game
0          Stephen Curry         32.0
3            Joel Embiid         28.5
4  Giannis Antetokounmpo         28.1

In [14]:
NBA.loc[[0,1,2],['player','team']]  #loc works with heading/key name/str

           player team
0   Stephen Curry  GSW
1    Bradley Beal  WAS
2  Damian Lillard  POR

In [15]:
NBA['team']  #call directly from key names

0    GSW
1    WAS
2    POR
3    PHI
4    MIL
Name: team, dtype: object

In [16]:
type(NBA['team'])

pandas.core.series.Series

In [17]:
NBA[['team','player','team']]  #order doesn't matter

  team                 player team
0  GSW          Stephen Curry  GSW
1  WAS           Bradley Beal  WAS
2  POR         Damian Lillard  POR
3  PHI            Joel Embiid  PHI
4  MIL  Giannis Antetokounmpo  MIL

In [18]:
type(NBA[['team','player']])

pandas.core.frame.DataFrame

In [19]:
NBA['rank'] = [1,2,3,4,5]

In [20]:
NBA

                  player team  points/game  rank
0          Stephen Curry  GSW         32.0     1
1           Bradley Beal  WAS         31.3     2
2         Damian Lillard  POR         28.8     3
3            Joel Embiid  PHI         28.5     4
4  Giannis Antetokounmpo  MIL         28.1     5

In [21]:
NBA['min'] = [34.2, 35.8, 35.8, 31.1, 33]

In [22]:
NBA['average points/min'] = NBA['points/game']/NBA['min']

In [23]:
NBA

                  player team  points/game  rank   min  average points/min
0          Stephen Curry  GSW         32.0     1  34.2            0.935673
1           Bradley Beal  WAS         31.3     2  35.8            0.874302
2         Damian Lillard  POR         28.8     3  35.8            0.804469
3            Joel Embiid  PHI         28.5     4  31.1            0.916399
4  Giannis Antetokounmpo  MIL         28.1     5  33.0            0.851515

In [24]:
NBA.loc[4,['min','average points/min']] = np.NaN

In [25]:
NBA

                  player team  points/game  rank   min  average points/min
0          Stephen Curry  GSW         32.0     1  34.2            0.935673
1           Bradley Beal  WAS         31.3     2  35.8            0.874302
2         Damian Lillard  POR         28.8     3  35.8            0.804469
3            Joel Embiid  PHI         28.5     4  31.1            0.916399
4  Giannis Antetokounmpo  MIL         28.1     5   NaN                 NaN

In [26]:
Drop1 = NBA.drop(2)

In [27]:
Drop1

                  player team  points/game  rank   min  average points/min
0          Stephen Curry  GSW         32.0     1  34.2            0.935673
1           Bradley Beal  WAS         31.3     2  35.8            0.874302
3            Joel Embiid  PHI         28.5     4  31.1            0.916399
4  Giannis Antetokounmpo  MIL         28.1     5   NaN                 NaN

In [28]:
Drop2 = Drop1.drop('average points/min', axis = 1)

In [29]:
Drop2

                  player team  points/game  rank   min
0          Stephen Curry  GSW         32.0     1  34.2
1           Bradley Beal  WAS         31.3     2  35.8
3            Joel Embiid  PHI         28.5     4  31.1
4  Giannis Antetokounmpo  MIL         28.1     5   NaN

In [30]:
Drop2.index

Int64Index([0, 1, 3, 4], dtype='int64')

In [31]:
Drop2.reset_index()

   index                 player team  points/game  rank   min
0      0          Stephen Curry  GSW         32.0     1  34.2
1      1           Bradley Beal  WAS         31.3     2  35.8
2      3            Joel Embiid  PHI         28.5     4  31.1
3      4  Giannis Antetokounmpo  MIL         28.1     5   NaN

In [32]:
NBA['points/game']<30

0    False
1    False
2     True
3     True
4     True
Name: points/game, dtype: bool

In [33]:
NBA[NBA['points/game']<30]

                  player team  points/game  rank   min  average points/min
2         Damian Lillard  POR         28.8     3  35.8            0.804469
3            Joel Embiid  PHI         28.5     4  31.1            0.916399
4  Giannis Antetokounmpo  MIL         28.1     5   NaN                 NaN

In [34]:
NBA[(NBA['points/game']<30) & (NBA['min']>30)]

           player team  points/game  rank   min  average points/min
2  Damian Lillard  POR         28.8     3  35.8            0.804469
3     Joel Embiid  PHI         28.5     4  31.1            0.916399

In [35]:
NBA[(NBA['points/game']<30) | (NBA['min']>35)]

                  player team  points/game  rank   min  average points/min
1           Bradley Beal  WAS         31.3     2  35.8            0.874302
2         Damian Lillard  POR         28.8     3  35.8            0.804469
3            Joel Embiid  PHI         28.5     4  31.1            0.916399
4  Giannis Antetokounmpo  MIL         28.1     5   NaN                 NaN

In [36]:
a = NBA['points/game'].values  #turns to numpy array

In [37]:
type(a)

numpy.ndarray

In [38]:
a

array([32. , 31.3, 28.8, 28.5, 28.1])

In [39]:
NBA.loc[3,'min']

31.1

In [40]:
NBA['min'][4] = 33    #will have a warning but still change the value

<ipython-input-40-cb8da56aabd0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NBA['min'][4] = 33    #will have a warning but still change the value

In [41]:
NBA

                  player team  points/game  rank   min  average points/min
0          Stephen Curry  GSW         32.0     1  34.2            0.935673
1           Bradley Beal  WAS         31.3     2  35.8            0.874302
2         Damian Lillard  POR         28.8     3  35.8            0.804469
3            Joel Embiid  PHI         28.5     4  31.1            0.916399
4  Giannis Antetokounmpo  MIL         28.1     5  33.0                 NaN

In [42]:
NBA['average points/min'][4] = NBA['points/game'][4]/NBA['min'][4]

<ipython-input-42-fc4618d9446d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NBA['average points/min'][4] = NBA['points/game'][4]/NBA['min'][4]

In [43]:
NBA

                  player team  points/game  rank   min  average points/min
0          Stephen Curry  GSW         32.0     1  34.2            0.935673
1           Bradley Beal  WAS         31.3     2  35.8            0.874302
2         Damian Lillard  POR         28.8     3  35.8            0.804469
3            Joel Embiid  PHI         28.5     4  31.1            0.916399
4  Giannis Antetokounmpo  MIL         28.1     5  33.0            0.851515

In [44]:
NBA.min()  #Uppercase is preferred

player                Bradley Beal
team                           GSW
points/game                   28.1
rank                             1
min                           31.1
average points/min        0.804469
dtype: object

In [45]:
NBA.max()

player                Stephen Curry
team                            WAS
points/game                      32
rank                              5
min                            35.8
average points/min         0.935673
dtype: object

In [46]:
NBA.mean()

points/game           29.740000
rank                   3.000000
min                   33.980000
average points/min     0.876471
dtype: float64

In [47]:
NBA['points/game'].std()

1.7784824992110546

In [48]:
NBA.describe()

       points/game      rank        min  average points/min
count     5.000000  5.000000   5.000000            5.000000
mean     29.740000  3.000000  33.980000            0.876471
std       1.778482  1.581139   1.995495            0.052227
min      28.100000  1.000000  31.100000            0.804469
25%      28.500000  2.000000  33.000000            0.851515
50%      28.800000  3.000000  34.200000            0.874302
75%      31.300000  4.000000  35.800000            0.916399
max      32.000000  5.000000  35.800000            0.935673

In [49]:
NBA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   player              5 non-null      object
 1   team                5 non-null      object
 2   points/game         5 non-null      float64
 3   rank                5 non-null      int64
 4   min                 5 non-null      float64
 5   average points/min  5 non-null      float64
dtypes: float64(3), int64(1), object(2)
memory usage: 368.0+ bytes