In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('products.csv')

In [3]:
data

   Material   color  quantity  price
0      iron   black        50   4.43
1  melamine   black        20   2.18
2  melamine    pink        30   1.97
3  melamine   white        60   2.66
4   plastic   white        40   5.32
5   plastic  yellow        20   4.39
6    tritan   white        50   7.28
7    tritan  yellow        70   7.86

In [4]:
data.describe()

        quantity     price
count   8.000000  8.000000
mean   42.500000  4.511250
std    18.322508  2.232081
min    20.000000  1.970000
25%    27.500000  2.540000
50%    45.000000  4.410000
75%    52.500000  5.810000
max    70.000000  7.860000

In [5]:
data['Material'].describe()

count            8
unique           4
top       melamine
freq             3
Name: Material, dtype: object

In [6]:
data['Material'].unique()  # used to find the unique elements of an array

array(['iron', 'melamine', 'plastic', 'tritan'], dtype=object)

In [7]:
data['Material'].value_counts()

melamine    3
tritan      2
plastic     2
iron        1
Name: Material, dtype: int64

In [8]:
mtr = data.groupby('color')

In [9]:
type(mtr)

pandas.core.groupby.generic.DataFrameGroupBy

In [10]:
mtr.mean()

        quantity     price
color
black         35  3.305000
pink          30  1.970000
white         50  5.086667
yellow        45  6.125000

In [11]:
mtr.describe()

       quantity                                                price  \
          count  mean        std   min   25%   50%   75%   max count
color
black       2.0  35.0  21.213203  20.0  27.5  35.0  42.5  50.0   2.0
pink        1.0  30.0        NaN  30.0  30.0  30.0  30.0  30.0   1.0
white       3.0  50.0  10.000000  40.0  45.0  50.0  55.0  60.0   3.0
yellow      2.0  45.0  35.355339  20.0  32.5  45.0  57.5  70.0   2.0


            mean       std   min     25%    50%     75%   max
color
black   3.305000  1.590990  2.18  2.7425  3.305  3.8675  4.43
pink    1.970000       NaN  1.97  1.9700  1.970  1.9700  1.97
white   5.086667  2.318822  2.66  3.9900  5.320  6.3000  7.28
yellow  6.125000  2.453661  4.39  5.2575  6.125  6.9925  7.86

In [12]:
mtr.sum()

        quantity  price
color
black         70   6.61
pink          30   1.97
white        150  15.26
yellow        90  12.25

In [13]:
mtr_2 = data['price'].groupby(data['Material'])

In [14]:
mtr_2.mean()

Material
iron        4.430
melamine    2.270
plastic     4.855
tritan      7.570
Name: price, dtype: float64

In [15]:
type(mtr_2)

pandas.core.groupby.generic.SeriesGroupBy

In [16]:
mtr_3 = data.groupby([data['color'], data['Material']])

In [17]:
type(mtr_3)

pandas.core.groupby.generic.DataFrameGroupBy

In [18]:
mtr_3.mean()

                 quantity  price
color  Material
black  iron            50   4.43
       melamine        20   2.18
pink   melamine        30   1.97
white  melamine        60   2.66
       plastic         40   5.32
       tritan          50   7.28
yellow plastic         20   4.39
       tritan          70   7.86

In [19]:
a = mtr_3.mean()

In [20]:
a.columns

Index(['quantity', 'price'], dtype='object')

In [21]:
data.index

RangeIndex(start=0, stop=8, step=1)

In [22]:
a.index

MultiIndex([( 'black',     'iron'),
            ( 'black', 'melamine'),
            (  'pink', 'melamine'),
            ( 'white', 'melamine'),
            ( 'white',  'plastic'),
            ( 'white',   'tritan'),
            ('yellow',  'plastic'),
            ('yellow',   'tritan')],
           names=['color', 'Material'])

In [23]:
a.loc['white','plastic',:]

                quantity  price
color Material
white plastic         40   5.32

In [24]:
a.loc['white','plastic']

quantity    40.00
price        5.32
Name: (white, plastic), dtype: float64

In [25]:
a.loc[('white','plastic'),:]

quantity    40.00
price        5.32
Name: (white, plastic), dtype: float64

In [26]:
a.iloc[4,1]

5.32

In [27]:
a

                 quantity  price
color  Material
black  iron            50   4.43
       melamine        20   2.18
pink   melamine        30   1.97
white  melamine        60   2.66
       plastic         40   5.32
       tritan          50   7.28
yellow plastic         20   4.39
       tritan          70   7.86