In [1]:
import pandas as pd

In [2]:
NBA_dict = {'player' : ['Stephen Curry', 'Bradley Beal', 'Damian Lillard', 'Joel Embiid', 'Giannis Antetokounmpo'],
              'team' : ['GSW', 'WAS', 'POR', 'PHI', 'MIL'],
              'points/game' : [32, 31.3, 28.8, 28.5, 28.1]}

In [3]:
NBA_dict

{'player': ['Stephen Curry',
  'Bradley Beal',
  'Damian Lillard',
  'Joel Embiid',
  'Giannis Antetokounmpo'],
 'team': ['GSW', 'WAS', 'POR', 'PHI', 'MIL'],
 'points/game': [32, 31.3, 28.8, 28.5, 28.1]}

In [4]:
NBA = pd.DataFrame(NBA_dict)

In [5]:
NBA

                  player team  points/game
0          Stephen Curry  GSW         32.0
1           Bradley Beal  WAS         31.3
2         Damian Lillard  POR         28.8
3            Joel Embiid  PHI         28.5
4  Giannis Antetokounmpo  MIL         28.1

In [6]:
NBA.columns

Index(['player', 'team', 'points/game'], dtype='object')

In [7]:
type(NBA.columns)

pandas.core.indexes.base.Index

In [8]:
NBA.iloc[3]

player         Joel Embiid
team                   PHI
points/game           28.5
Name: 3, dtype: object

In [9]:
top3 = NBA.iloc[0:3]

In [10]:
top3

           player team  points/game
0   Stephen Curry  GSW         32.0
1    Bradley Beal  WAS         31.3
2  Damian Lillard  POR         28.8

In [11]:
NBA.iloc[[0,2,4]]

                  player team  points/game
0          Stephen Curry  GSW         32.0
2         Damian Lillard  POR         28.8
4  Giannis Antetokounmpo  MIL         28.1

In [12]:
NBA.iloc[[1,3,4],1:3]  #The same as NBA.iloc[[1,3,4],[1,2]]

  team  points/game
1  WAS         31.3
3  PHI         28.5
4  MIL         28.1

In [13]:
NBA.iloc[[0,3,4],[0,2]]

                  player  points/game
0          Stephen Curry         32.0
3            Joel Embiid         28.5
4  Giannis Antetokounmpo         28.1