In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('products.csv')

In [4]:
data

   Material   color  quantity  price
0      iron   black        50   4.43
1  melamine   black        20   2.18
2  melamine    pink        30   1.97
3  melamine   white        60   2.66
4   plastic   white        40   5.32
5   plastic  yellow        20   4.39
6    tritan   white        50   7.28
7    tritan  yellow        70   7.86

In [5]:
data.describe()

        quantity     price
count   8.000000  8.000000
mean   42.500000  4.511250
std    18.322508  2.232081
min    20.000000  1.970000
25%    27.500000  2.540000
50%    45.000000  4.410000
75%    52.500000  5.810000
max    70.000000  7.860000

In [8]:
data['Material'].describe()

count            8
unique           4
top       melamine
freq             3
Name: Material, dtype: object

In [9]:
data['Material'].unique()  # used to find the unique elements of an array

array(['iron', 'melamine', 'plastic', 'tritan'], dtype=object)

In [11]:
data['Material'].value_counts()

melamine    3
plastic     2
tritan      2
iron        1
Name: Material, dtype: int64

In [14]:
mtr = data.groupby('color')

In [15]:
type(mtr)

pandas.core.groupby.generic.DataFrameGroupBy

In [16]:
mtr.mean()

        quantity     price
color
black         35  3.305000
pink          30  1.970000
white         50  5.086667
yellow        45  6.125000

In [17]:
mtr.describe()

       quantity                                                price  \
          count  mean        std   min   25%   50%   75%   max count
color
black       2.0  35.0  21.213203  20.0  27.5  35.0  42.5  50.0   2.0
pink        1.0  30.0        NaN  30.0  30.0  30.0  30.0  30.0   1.0
white       3.0  50.0  10.000000  40.0  45.0  50.0  55.0  60.0   3.0
yellow      2.0  45.0  35.355339  20.0  32.5  45.0  57.5  70.0   2.0


            mean       std   min     25%    50%     75%   max
color
black   3.305000  1.590990  2.18  2.7425  3.305  3.8675  4.43
pink    1.970000       NaN  1.97  1.9700  1.970  1.9700  1.97
white   5.086667  2.318822  2.66  3.9900  5.320  6.3000  7.28
yellow  6.125000  2.453661  4.39  5.2575  6.125  6.9925  7.86