In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('products.csv')

In [4]:
data

   Material   color  quantity  price
0      iron   black        50   4.43
1  melamine   black        20   2.18
2  melamine    pink        30   1.97
3  melamine   white        60   2.66
4   plastic   white        40   5.32
5   plastic  yellow        20   4.39
6    tritan   white        50   7.28
7    tritan  yellow        70   7.86

In [5]:
data.describe()

        quantity     price
count   8.000000  8.000000
mean   42.500000  4.511250
std    18.322508  2.232081
min    20.000000  1.970000
25%    27.500000  2.540000
50%    45.000000  4.410000
75%    52.500000  5.810000
max    70.000000  7.860000

In [8]:
data['Material'].describe()

count            8
unique           4
top       melamine
freq             3
Name: Material, dtype: object

In [9]:
data['Material'].unique()  # used to find the unique elements of an array

array(['iron', 'melamine', 'plastic', 'tritan'], dtype=object)